<section class="list-section col-md-7">
	  			
	<div class="body-top row">

		<div class="col-md-4">
			<div style="float: left; padding-top : 10px;">
				<img src="img/home.png" alt="logo" height="25" width="25" class="img-responsive">
			</div>
			<div style="float: left; font-size : 25px; padding-left : 3px; padding-top : 5px">
				Home
			</div>
		</div>

		<div class="input-group search-group">
			<span class="input-group-btn">
				<button class="btn btn-default search-button" type="button">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</span>
			<input ng-model="$ctrl.query" type="text" class="form-control search-input" placeholder="Search (by ISP name, price, rating)">
		</div>

	</div>

	<div class="row">
		<div>
			<ul class="list-group list-group-section">

				<li class="list-group-item" ng-repeat="isp in $ctrl.isps | filter:$ctrl.query | orderBy : $ctrl.ordrByProp">
					<img src="img/database-15px.png" alt="logo" class="img-responsive" style="display : inline;">
					<span style="display : inline; margin-top: 2px;">
						<a href="#!/isps/{{isp.id}}">{{isp.name}}</a>
					</span>
					<img src="img/chevron-15px.png" alt="logo" class="img-responsive" style="display : inline; float: right; padding-top : 3px;">
					<span style="display : inline; float: right;"><strong>&nbsp;{{isp.price}}&nbsp;</strong></span>
					<img src="img/rupee-10px.png" alt="logo" class="img-responsive" style="display : inline; float: right; padding-top : 5px;">
				</li>

		</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8" style="float: right;">
			<div style="float: left;">
				<button type="button" class="btn btn-default btn-lg" style="border: 2px solid rgb(134, 134, 134);">
					<span class="glyphicon glyphicon-random" aria-hidden="true">&nbsp;</span>Sort by
				</button>
			</div>
			<div style="float: left; border: 1px solid rgb(134, 134, 134); margin-left: 20px; margin-top: 0px;">
				<div style="float: left; padding: 0px 10px 5px 10px" class="radio">
					
					<label><input type="radio" value="price" ng-model="$ctrl.ordrByProp">Price</label>
				
				</div>
				<div style="float: left; padding: 15px 10px 5px 5px" class="radio">
					
					<label><input type="radio" value="rating" ng-model="$ctrl.ordrByProp">Rating</label>
				
				</div>
			</div>
		</div>
	</div>
	  			
</section>