/* header */
.header-container {
	border: 1px solid rgb(0, 153, 0);
}

.header-logo {
	float : left;
	padding-top : 10px;
	padding-left : 10px;
}

.header-title {
	float : left;
	padding-left : 10px;
}

.label-header {
	font-size : 15px;
	background-color: rgb(217, 242, 217);
	color : black;
	border: 2px solid rgb(0, 153, 0);
}

.header-data {
	float : left;
	margin : 20px 0px 10px 15px;
	padding : 5px 5px 5px 5px;
	border: 2px solid rgb(0, 153, 0);
	border-radius: 10px;
	background-color: rgb(217, 242, 217);
	font-size : 18px;
}

.header-title h1 {
	float : left;
	color : rgb(45, 134, 89);
}

.header-title h4 {
	float : left;
	margin-left : 5px;
	padding-top : 23px;
	color : rgb(0, 204, 102);
}



/* body section */



.radio-border {
	width: 50px;
    height: 50px;
    border-radius: 5px;
}

.body-container {

}

.body-top {
	margin-top : 0px;
	/*border: 1px solid rgb(0, 153, 0);*/
}

.list-section {
	border: 1px solid rgb(0, 153, 0);
	padding-bottom: 10px;
	background-color: rgb(230, 230, 230);
}

.aside-row-panel {
	
}

.image-aside {
	float : left;
	margin : 3px 0px 0px 5px;
	background-color: rgb(211, 232, 210);
}

.panel-top {
	float : left;
	border : 2px solid rgb(51, 51, 51);
	margin : 0px 0px 0px 5px;
}

.list-aside {
	border: 1px solid rgb(0, 153, 0);
	padding-top: 9px;
	padding-bottom: 6px;
	background-color: rgb(230, 230, 230);
}


.panel-top .panel-heading-content {
	background-color: rgb(26, 26, 26);
	color : rgb(242, 242, 242);
	font-weight : bold;
	text-align: center;
	font-size : 15px;
}

.list-group-panel {
	
}

.panel-top .list-group-panel li {
	border : 0px;
	padding : 8px 20px 8px 10px;
}

.panel-top .list-group-panel li img, span{
	display: inline;
} 

.rating {
	/*border: 2px solid rgb(0, 153, 0);*/
	margin-left : 1px;
}

.rating .rating-label {
	float : left;
	padding-top : 3px;
	font-size : 25px;
}

.rating .rating-star {
	float : left;
	font-size : 24px;
	padding-top : 5px;
	padding-left : 5px
}

.rating .filled {
  color: yellow;
}

.rating .rating-star li {
	float: left;
	padding-left : 5px;
}

.aside-description {
}

.aside-panel {
	border: 2px solid rgb(193, 193, 164);
	border-radius: 5px;
	margin : 16px 5px 10px 5px;
	background-color: rgb(230, 255, 255);
}

.aside-button {
	border: 2px solid rgb(57, 172, 115);
	color : rgb(0, 204, 102);
	padding : 5px 5px 5px 5px;
}

.aside-row-button button {
	font-weight: bold;
	font-size : 20px;
	color : cadetblue;
	border: 2px solid cadetblue;
	padding-top : 5px;
	padding-bottom: 5px;
}

.aside-row-button .buttonLink {
	float : left;
	margin : 0px 5px 0px 5px;
}

.aside-row-button .buttonShare {
	float : left;
	margin : 0px 19px 0px 20px;
}

.aside-row-button .buttonDownload {
	float : left;
	margin : 0px 5px 0px 5px;
}

.search-box {
	border: 1px solid #c0c0c001530;
	margin-top : 5px;
	margin-bottom : 5px;
}

.search-group {
	background-color: rgb(217, 242, 217);
	padding : 5px 5px 5px 5px;
}

.search-button {
	
}

.search-input {
	
}

.list-group-section li {
	margin : 5px;
	border: 1.5px solid rgb(0, 153, 0);
	border-radius: 10px;
	background-color: rgb(230, 255, 230);
	font-weight: bold;
	padding : 5px 5px 5px 5px;
}

.list-group-section li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.list-group-section li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

footer {
	/*border : 2px solid rgb(51, 51, 51);*/
}